
<div class="main-flex-container" >
    
    <div class="content-box" id="content-box">
        <div *ngIf="Home()">
            <div class="section-header">
            <h2>Dia das Crianças com Pelúcias</h2>
            <a href="https://www.amazon.com.br/" target="_blank">Veja mais produtos</a>
        </div>
        
        <ul class="product-carousel">
            <a href="https://www.amazon.com.br/Care-Bears-Love-Lot-Elphaba/dp/B0DX2M1DHN?pd_rd_w=DlaOm&content-id=amzn1.sym.70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_p=70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_r=45VHBYG7JGM1R96BTYED&pd_rd_wg=PxCzG&pd_rd_r=c7fa2bd4-d1da-449b-b36a-15097262304a&pd_rd_i=B0DX2M1DHN&ref_=pd_hp_d_btf_cd25-variablestring-bestseller_1_B0DX2M1DHN" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/care bears.jpg" alt="Care Bears">
                <div class="product-info">
                    <p class="product-title">Care Bears × Wicked 2-Pack</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">5,0</span>
                        
                    </div>
                    <p class="price">R$ 284<sup class="cents">89</sup></p>
                    <p class="shipping">Entrega R$ 8,90</p>
                </div>
            </li>
            </a>
            
            <a href="https://www.amazon.com.br/Zip-Toys-JUJU/dp/B08TT7686G/ref=sr_1_2?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=KXVHFWFOWID4&dib=eyJ2IjoiMSJ9.3HoS2rnAm8hOHPIPqjqSfXsPzsDI6Sj6GDLxMbi0zb_A-B26HYO1Qc2_Wne8sI3V0yCP8yMFRWRhVJVr58ROdtz90WbjXOyn4C1TAqI4CemsOgefd09dmSpttJc7PHLiHywwaLuqUcHn7e4kks7b9lMRR9nPXHOmrT_1cEsIFuH9RqK5Zpm6leCFMdZgLaJM1sxIzf7xvS_wPpXGJ7qzucG0BLw6LZJhF8yDyNa8s0NGFK_QM1GCwwhaTPFGL2BZOj-wrszo3jZi1oyBwJGUn2ftIvAJXMiPDj98Jg8dDTA.zoKE-oQS4uC4j-CDVL9qU-UEB7r0erPuEbPtgdSXl2c&dib_tag=se&keywords=boneca+pano+juju&qid=1758413457&sprefix=boneca+pano+juju%2Caps%2C233&sr=8-2&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/boneca pano juju.jpg" alt="Zip - Boneca de Pano">
                <div class="product-info">
                    <p class="product-title">Zip - Boneca de Pano Juju</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">4,8</span>
                        
                    </div>
                    <p class="price">R$ 61<sup class="cents">68</sup> <span class="old-price">R$ 68,69</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>


        <a href="https://www.amazon.com.br/Cacto-Dan%C3%A7ante-Falante-M%C3%BAsica-Repete/dp/B09MZL41ZG?pd_rd_w=DlaOm&content-id=amzn1.sym.70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_p=70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_r=45VHBYG7JGM1R96BTYED&pd_rd_wg=PxCzG&pd_rd_r=c7fa2bd4-d1da-449b-b36a-15097262304a&pd_rd_i=B09MZL41ZG&ref_=pd_hp_d_btf_cd25-variablestring-bestseller_1_B09MZL41ZG" class="redirect" target="_blank">
            <li class="product-card">
                
                <img src="./assets/cacto mexicano.jpg" alt="Cacto Mexicano">
                <div class="product-info">
                    <p class="product-title">Cacto Mexicano</p>
                    <div class="rating">
                        <span class="stars">★★★★☆</span>
                        <span class="score">4,2</span>
                        
                    </div>
                    <p class="price">R$ 29<sup class="cents">99</sup></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            
            </li>
        </a>

            <a href="https://www.amazon.com.br/Candide-7934-Pelucia-Infantil-Bluey/dp/B0CCQ5V8H1?pd_rd_w=DlaOm&content-id=amzn1.sym.70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_p=70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_r=45VHBYG7JGM1R96BTYED&pd_rd_wg=PxCzG&pd_rd_r=c7fa2bd4-d1da-449b-b36a-15097262304a&pd_rd_i=B0CCQ5V8H1&ref_=pd_hp_d_btf_cd25-variablestring-bestseller_1_B0CCQ5V8H1" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/candide.jpg" alt="Candide">
                <div class="product-info">
                    <p class="product-title">Candide</p>
                    <div class="rating">
                        <span class="stars">★★★★☆</span>
                        <span class="score">4,2</span>
                        
                    </div>
                    <p class="price">R$ 80<sup class="cents">99</sup> <span class="old-price">R$ 89,99</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Brinquedo-pel%C3%BAcia-Capybara-desenho-tartaruga/dp/B0DFLYJ5LS/ref=sr_1_5?crid=D17ZYE9X5JR7&dib=eyJ2IjoiMSJ9.2TRKcIdobe-FUDK0Lpe4EHlzOZH68xXSHp5eGOxR1Zr5xZtUKBIfupPhLiY4sXlI3FQ3Sb2wUUk6LxRFmlQ8yAmBAFP7A4WGlLK8SknsLfX7_FuEwKh7rpvUdSwd0Aj6hiY32XeW2ZoBaGEZoR_xWqUOa0qlUOvJfSSf_ogN7g7Iyog1pWi4_6OkRmugr2NYSipqQlY8xH0ejpkntPU_9b78PXGwg46Oglxu3IxFBHw7KmssI759V2tQYqYeGKsjlpZyGtxK-tHrIxlENNY0c9Oxn7GJFS0W3rLutXiUAQ0.d_Ri_9EFDE1r5UoqeOpNl5NMdUZySlSmKmj1uzIEtUU&dib_tag=se&keywords=capybara+pelucia&qid=1758413408&sprefix=capy%2Caps%2C338&sr=8-5&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/capybara.jpg" alt="Capbybara">
                <div class="product-info">
                    <p class="product-title">Capbybara</p>
                    <div class="rating">
                        <span class="stars">★★★★☆</span>
                        <span class="score">4,1</span>
                        
                    </div>
                    <p class="price">R$ 50<sup class="cents">00</sup></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Brinquedo-dan%C3%A7arino-infantil-Musical-Amarelo/dp/B0F2755YZD?pd_rd_w=DlaOm&content-id=amzn1.sym.70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_p=70d1db1f-6920-45a8-baf0-f0929f1b949a&pf_rd_r=45VHBYG7JGM1R96BTYED&pd_rd_wg=PxCzG&pd_rd_r=c7fa2bd4-d1da-449b-b36a-15097262304a&pd_rd_i=B0F2755YZD&ref_=pd_hp_d_btf_cd25-variablestring-bestseller_1_B0F2755YZD" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/chica da shoppe.jpg" alt="Chica Da Shoppe">
                <div class="product-info">
                    <p class="product-title">Chica Da Shoppe</p>
                    <div class="rating">
                        <span class="stars">★★★★☆</span>
                        <span class="score">4,2</span>
                        
                    </div>
                    <p class="price">R$ 42<sup class="cents">12</sup> <span class="old-price">R$ 54,99</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Raposa-Pel%C3%BAcia-Plush-30cm-Rosa/dp/B0BFJK2DCR/ref=sr_1_5?crid=2CIBPABVAI0XZ&dib=eyJ2IjoiMSJ9.B1ItawaBba5LCHLjCXjHMCWBfF6yAImMjf1HGX4WYICw0ktVSL8AUkFxJO23yhNI7ql6RbtGZmRbl9G1-TCyG2NzY-UHozGed4FS5bxt4fTtUsy_d0hFTKc_vp7U9hoRGXj1V3Uw-1VIpLL9CdHEftDpYGY_m0PQr787dfhbHFv13hLWHk9L8MTXMp9RMNc_ZtYIg5R6cP2_3Rwf7aCMJAQ8w0kvLg_exe1WTNTDd-FAZ9I4zFYQbIUsPS0Smq5qumgElxnVJHcXZA14aSjhD-OfQfNzWMrzRSxUartcjMI.8qFTFgvaSe7go30KWjRY4Fdore8FV0vS64oxGWG9Qso&dib_tag=se&keywords=raposa+pelucia&qid=1758414281&sprefix=raposa+pel%2Caps%2C254&sr=8-5&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/lobo mal do seculo 21.jpg" alt="lobo mal do seculo 21">
                <div class="product-info">
                    <p class="product-title">Lobo Mal Do Seculo 21</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">4,8</span>
                        
                    </div>
                    <p class="price">R$ 61<sup class="cents">90</sup> <span class="old-price">R$ 69,90</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Pel%C3%BAcia-Sensorial-infantil-Conforto-Elefante/dp/B0DVHMT5TX/ref=sr_1_9?crid=84H4UD8BMBD4&dib=eyJ2IjoiMSJ9.T4RAGDx9mxczFxOzr6BBJkPWp8Rl9y4fOOWwFUmJemGI3rkrd9qG_KDBv-tr6h3yEEk4t5-rzisHPLppxe7ryYx0THKg5Sead2ZgakUK9kfSyuilKsO9g8w3RlTgWnxZ4dDn0Oa3h65DwiFWavlMchYANOpIXNRs8kq0-VDdnwT8kMzGjt_ynpdbyxCEoFvuiT8wStzSRyBBVaKrwQy5EOiCFo9QMj9-wSneSf4ELboVmrCq8VjIFr7_7UQ0_dOT4n_m98vdUAT2tfvn7qo6sZQnCR6rs8StY4H5cv_3Phw.rWTTMWDqceOchOIlmr5Ki_U0Lqq8FKNnOW-6MO9RfSU&dib_tag=se&keywords=elefante+pelucia&qid=1758413380&sprefix=elefa%2Caps%2C229&sr=8-9&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/elefante pelucia.jpg" alt="elefante pelucia">
                <div class="product-info">
                    <p class="product-title">Elefante Pelucia</p>
                    <div class="rating">
                        <span class="stars">★★★★⯪</span>
                        <span class="score">4,7</span>
                        
                    </div>
                    <p class="price">R$ 49<sup class="cents">99</sup> <span class="old-price">R$ 54,99</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/alien%C3%ADgena-polegadas-brinquedo-presente-crian%C3%A7as/dp/B0C2KP1MVZ/ref=sr_1_5?crid=3S4WQ2TPWWJ8S&dib=eyJ2IjoiMSJ9.1roy-WVFXZvouPeUeoh5XtTs7RczFNLo6buC2Snxaax0xAeYs9fyAhJy4iKYfO67rGVIl3KdMIqJsBcgtpUbOweCKcFqpebv1q7d-suGCXaMPqUGDaM74wyIZLDPbijRUKAj9FjGCdS2z7l3xmehTdvAmvXVGhovaHZZAfJjM34htzqWQ2ITGPqAewC3zvnjeY5zJKU9m481ZjDmGiay6SgT3v17K74VKKntFS_-ag185PvMUtSiH-1wZZG-RAOf7bKUEEUiuGkcaulFywnTZ58U6IdPFzxe4xipsiYIFU4.leeiZDefM2n2qp0u7GwveS6SwQvF56Qc7Wtm3TpkmI8&dib_tag=se&keywords=pou+pelucia&qid=1758413338&sprefix=pou%2Caps%2C209&sr=8-5" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/pou cansado.jpg" alt="pou cansado">
                <div class="product-info">
                    <p class="product-title">Pou Cansado</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">4,8</span>
                        
                    </div>
                    <p class="price">R$ 35<sup class="cents">10</sup></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Robo-Stitch-Real-Wow-Sunny/dp/B0058NCGC4/ref=sr_1_1?crid=2C1DGPG5TNMUF&dib=eyJ2IjoiMSJ9.Uz040ED2GSmZ_6KqHlbzosGSroIfPSB532AuqmwmwJciSqmvHJBT1oqoPGz6oMhnNPbxAUirpqE5_wKnLL4xE2DkIi5RCg6xcwEbQ0NkrBlYdxYChuGAgLGmQAtAG0YxTmgrnYAOwLlFBRqcOgCbyUNuojDXy8pd7aiF6yDfEHyzuQGjnNAN4LU8OeW45ar9a7hlJYDqR5ZVERccmG-pCHgUTbcVbtbilP4pW3T-myDtIJZmZi9sLe-pfkoeBCsrslx-CCWDJjM_15wkfyBQvZ5JxX9LxN8vLZric20jQpk.VnLimwreWCNbzXWZ1BCVo4RnuTpdGD6aOdO4zOKLDjM&dib_tag=se&keywords=robo+stitch&qid=1758413174&sprefix=robo+sti%2Caps%2C262&sr=8-1&ufe=app_do%3Aamzn1.fos.25548f35-0de7-44b3-b28e-0f56f3f96147" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/robo stitch.jpg" alt="robo stitch">
                <div class="product-info">
                    <p class="product-title">Robo Stitch</p>
                    <div class="rating">
                        <span class="stars">★★★★⯪</span>
                        <span class="score">4,7</span>
                        
                    </div>
                    <p class="price">R$ 826<sup class="cents">41</sup> <span class="old-price">R$ 979,00</span></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>

            <a href="https://www.amazon.com.br/Unic%C3%B3rnio-Pel%C3%BAcia-Plush-30cm-Decora%C3%A7%C3%A3o/dp/B08C5PDCQR/ref=sr_1_5?crid=39IVI9UCP5UNE&dib=eyJ2IjoiMSJ9.Kd0MBvzVvLx0Lk0j8QcouofxSrthkwHm9UGYCzM2O8x-GtZPUDN7XWqSIlinxeqELG_LGeYqMVqOYFQ0nJmHpkZPFl-LOsvdJmMefRuVeEgrpOGnJrLQ5oyU35AOLPTKycvAryLKkTUBD0SVi1uArY-kbCupeZ-N4Z5vVwFrO18-FuLORCP9OJUlfprAys-QhLuOvT3wxipUAqvXsmIOfetE-9DRJWagOtjzo_T0ZefRvr9C4xnucvwi4VU9lbR62XcnF7WgWTPCqLF0lgCDOQTFaoy-wwj44v_Vw7p_qgE.O-dEOypHic-nqyYcHPnHnprwJj-k0t354JMQKukLOVA&dib_tag=se&keywords=unicornio+pelucia&qid=1758413301&sprefix=unicor%2Caps%2C275&sr=8-5&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9" class="redirect" target="_blank">
            <li class="product-card">
                <img src="./assets/unicornio.jpg" alt="unicornio">
                <div class="product-info">
                    <p class="product-title">Unicornio</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">4,8</span>
                        
                    </div>
                    <p class="price">R$ 69<sup class="cents">90</sup></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
            </li>
            </a>


        <a href="https://www.amazon.com.br/Sunny-1342-Pel%C3%BAcia-Skye/dp/B07J2PCFB3/ref=sr_1_5?crid=3U1SDYS5Z32ZF&dib=eyJ2IjoiMSJ9.c881ilfOTagcPZDXCYkOXBPKiXJaqx7-6wYr35Ka4YE5K2UMM2rGQ-M0bVb1ENH1QgBYSew54d3N3j_zwk4YBodkpv0T6V47TvRB4QJyEagOVHouWo1Oh9WiKIgOxDQiS2mEkFNL78Ap1GZ0_5mK9zVF7riyvmTC3a47-Hqt9cSobaaywR-34AZzSxoPT-5t3tTaO_mZSRXbMY2a_PcZJXTl1lZDJbYdBnSgwV8oFZivc-sPofeC9VVZBNgmE0XqFSV69xeD7jIuoA3TF2Kz3Jl28-m5s8tPkXQ4BEYYaSQ.gk8IsQqEzSM_idE_q6i8Isp1GapvVa6VUZ2e8lO_4a8&dib_tag=se&keywords=sunny+pelucia&qid=1758412767&sprefix=sunny+pel%2Caps%2C239&sr=8-5&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d" class="redirect" target="_blank">
            <li class="product-card">
                
                <img src="./assets/sunny pelucia.jpg" alt="sunny pelucia">
                <div class="product-info">
                    <p class="product-title">Sunny Pelucia</p>
                    <div class="rating">
                        <span class="stars">★★★★★</span>
                        <span class="score">4,8</span>
                        <span class="reviews">253</span>
                    </div>
                    <p class="price">R$ 90<sup class="cents">25</sup></p>
                    <p class="shipping">Entrega GRÁTIS</p>
                </div>
                
            </li>
        </a>
            
            </ul>
        </div>
        <router-outlet></router-outlet>
        
    </div>
    
</div>